@use './reset';
@use './variables' as *;

body {
	padding: 5.3125rem 2rem 4.875rem;
	background-color: $lightGray;
	font-family: $font-primary;
	font-style: normal;

	@media (min-width: $desktop) {
		padding: 5rem 2rem;
	}

	header {
		width: 100%;
		max-width: 540px;
		margin: 0 auto 4.75rem;
		text-align: center;

		h1 {
			margin-bottom: 1rem;
			font-size: $display;
			font-weight: $fw-light;
			line-height: 1.458;
			letter-spacing: 0.17px;
			color: $darkBlue;

			@media (min-width: $desktop) {
				letter-spacing: 0.25px;
			}

			> span {
				font-weight: $fw-semiBold;
			}
		}

		p {
			font-size: $subHeading;
			font-weight: $fw-regular;
			line-height: 1.667;
			letter-spacing: 0.1px;
			color: $grayBlue;
		}
	}

	main {
		display: flex;
		justify-content: center;

		section {
			max-width: 1110px;
			display: grid;
			grid-template-columns: 1fr;
			gap: 1.5rem;

			@media (min-width: $tablet) {
				grid-template-columns: 1fr 1fr;
			}

			@media (min-width: $desktop) {
				grid-template-columns: 1fr 1fr 1fr;
				gap: 1.875rem;

				.supervisor {
					grid-column: 1 / 2;
					grid-row: 2 / 4;
				}

				.teamBuilder {
					grid-column: 2 / 3;
					grid-row: 1 / 3;
				}

				.karma {
					grid-column: 2 / 3;
					grid-row: 3 / 5;
				}

				.calculator {
					grid-column: 3 / 4;
					grid-row: 2 / 4;
				}
			}

			article {
				width: 100%;
				max-width: 350px;
				border-radius: 8px;
				overflow: hidden;
				background-color: $white;
				box-shadow: 0 15px 30px -11px $shadow;

				.accent {
					height: 3.55px;
					width: 100%;
					border-radius: 8px 8px 0 0;

					@media (min-width: $desktop) {
						height: 4px;
					}
				}

				.content {
					padding: 1.75rem;

					@media (min-width: $desktop) {
						padding: 2rem;
					}

					h2 {
						margin-bottom: 0.0625rem;
						font-size: $title;
						font-weight: $fw-semiBold;
						color: $darkBlue;

						@media (min-width: $desktop) {
							margin-bottom: 0.375rem;
						}
					}

					p {
						margin-bottom: 2rem;
						font-size: $body;
						font-weight: $fw-regular;
						line-height: 1.77;
						letter-spacing: 0.09px;
						color: $grayBlue;

						@media (min-width: $desktop) {
							margin-bottom: 2.5rem;
						}
					}

					div {
						width: 100%;
						display: flex;
						justify-content: flex-end;

						img {
							height: 57px;
							width: 57px;

							@media (min-width: $desktop) {
								height: 64px;
								width: 64px;
							}
						}
					}
				}

				.cyan {
					background-color: $cyan;
				}

				.red {
					background-color: $red;
				}

				.orange {
					background-color: $orange;
				}

				.blue {
					background-color: $blue;
				}
			}
		}
	}
}
